article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  margin: 0; }

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-top: 10px;
  font-weight: lighter; }

header {
  background-color: #f7f7f7;
  font-family: 'Open Sans' sans-serif;
  font-weight: lighter;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #000;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 2px #000;
  padding: 10px; }
  header .hamburger {
    display: inline;
    font-size: 24px; }
  header ul {
    margin: 0;
    list-style-type: none; }
  header ul.mobile {
    display: none; }
    header ul.mobile li {
      display: block; }
  header .desktopMenu {
    display: none;
    width: 100px; }
    header .desktopMenu ul.desktop {
      -webkit-transition: 1s all ease;
              transition: 1s all ease;
      display: none;
      height: auto;
      background: #fff;
      padding: 0;
      border: 1px solid #000; }
      header .desktopMenu ul.desktop li {
        display: block; }
  header a {
    color: #000;
    text-decoration: none;
    padding: 5px 0; }

section img.mobile {
  width: 100%; }

.intro {
  color: #000;
  padding: 40px 0 0 0; }
  .intro h1 {
    text-align: center; }

.text {
  background-color: #f7f7f7;
  opacity: 0.95;
  padding: 10px; }

.right {
  float: right;
  border-left: 1px solid #000; }

.left {
  float: left;
  border-right: 1px solid #000; }

footer {
  background-color: #000;
  font-size: 'Open Sans', sans-serif;
  color: #fff; }
  footer ul {
    font-weight: lighter;
    list-style-type: none;
    padding: 0; }
    footer ul li {
      margin: 5px 0; }
  footer a {
    color: #fff; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  h3 {
    text-align: center; }

  .intro {
    padding: 10px; } }
footer {
  padding: 10px 20px; }
  footer .credits, footer .eye {
    width: 100%;
    float: none;
    margin: 5px 0; }
  footer .eye p {
    font-size: 12px; }
  footer .social, footer .fb-like {
    margin: 10px 0; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  section {
    background-size: cover;
    background-attachment: fixed; }
    section img.mobile {
      display: none; }

  header h1 {
    text-align: center; }
  header .desktopMenu {
    display: block;
    text-transform: uppercase; }
    header .desktopMenu p {
      margin: 0;
      padding: 0;
      float: left; }
    header .desktopMenu ul.desktop {
      -webkit-transition: 1s all ease;
              transition: 1s all ease; }
      header .desktopMenu ul.desktop li a {
        padding: 10px; }
      header .desktopMenu ul.desktop .social, header .desktopMenu ul.desktop .fb-like {
        padding: 5px 10px; }
    header .desktopMenu:hover ul.desktop {
      display: block;
      position: absolute; }
      header .desktopMenu:hover ul.desktop li {
        margin: 10px; }
        header .desktopMenu:hover ul.desktop li a {
          -webkit-transition: 1s all ease;
                  transition: 1s all ease; }
          header .desktopMenu:hover ul.desktop li a:hover {
            background: #e0e0e0; }
  header .hamburger {
    display: none; }

  .intro {
    background-image: url(../gfx/intro.jpg); }

  .one {
    background-image: url(../gfx/1.jpg); }

  .two {
    background-image: url(../gfx/2.jpg); }

  .three {
    background-image: url(../gfx/3.jpg); }

  .four {
    background-image: url(../gfx/4.jpg); }

  .five {
    background-image: url(../gfx/5.jpg); }

  .six {
    background-image: url(../gfx/6.jpg); }

  .seven {
    background-image: url(../gfx/7.jpg); }

  .eight {
    background-image: url(../gfx/8.jpg); }

  .nine {
    background-image: url(../gfx/9.jpg); }

  .text {
    width: 40%; }

  footer {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    font-size: 12px; }
    footer .credits {
      width: 55%;
      float: left;
      margin-right: 10px; }
    footer .eye {
      width: 40%;
      float: left; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .text {
    min-height: 1000px; } }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
